<div id=contact_parts>
    <h1> GUI MIOTTO </h1>
    <img id="headshot" src="assets/img/photo/gui_miotto.jpg" alt="Guilherme Miotto">
    <p id="kurzgesagt">A computer scientist based in Germany. Mainly working on artificial intelligence and simulation of complex systems. Uniformity beats perfection! </p>
    <div id="social_bar">
        {% for network in site.data.social%}
        <div>
            <a target="_blank" href="{{ network.link }}">
                <svg class="social_icon" role="img" viewBox="0 0 16 16">
                    <title> {{ network.name }} </title>
                    <use xlink:href="/assets/img/icon/minima-social-icons.svg#{{ network.name | downcase }}"></use>
                </svg>
            </a>
        </div>
        {% endfor %}
    </div>
</div>