<h3>Experience</h3>

<div id="exp_graph">

    <!-- Legend -->
    <div id="legend">
        <div>
            <div> <div class="legend_box" id="legend_education"></div> </div>
            <div> Education </div>
        </div>
        <div>
            <div> <div class="legend_box" id="legend_academicjob"></div> </div>
            <div> Academic job </div>
        </div>
        <div>
            <div> <div class="legend_box" id="legend_industryjob"></div> </div>
            <div> Industry job </div>
        </div>
    </div>

<!-- Experience entries -->
{% for exp in site.data.experience %}
    <div class="exp_item" onclick="show_exp_popup('exp_popup_{{ forloop.index }}')">
        <div class="exp_logo">
            <img class="exp_img" src="assets/img/logo/{{ exp.icon1 }}" alt="{{ exp.company }}">
        </div>
        <div class="exp_desc">
            {{ exp.position }} <br/> at {{ exp.company}}
        </div>
        <div class="exp_bar_container">
            <div class="exp_bar" id="exp_bar_{{ forloop.index }}">
                <!-- Size, position and color controlled by css -->
            </div>
        </div>
    </div>
{% endfor %}


<!-- Year axis and ticks -->
{% assign start = site.data.experience.first.start | date: '%Y' %}
{% assign end = site.data.experience.last.end | date: '%Y' %}
<div class="exp_item" id="timeline">
    <div class="exp_logo"> </div>
    <div class="exp_desc"> </div>
    <div class="exp_bar_container" id="years_container">
        {% for year in (start..end) %}
            {% assign mod = year | modulo: 2 %}
            {% if mod == 0 %}
            <div class="year_label" id="label_{{ year }}">
                {{year}}
            </div>
            <div class="year_tick" id="tick_{{ year }}">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

</div> <!-- End of exp_graph -->


{% for exp in site.data.experience %}
{% assign start = exp.start | date: '%b %Y' %}
{% assign end = exp.end | date: '%b %Y' %}
<div class="exp_popup" id="exp_popup_{{ forloop.index }}">
    <div class="exp_popup_header">
        <div class="exp_popup_logo">
            <a href="{{ exp.link }}" target="_blank">
                <img class="exp_img" src="assets/img/logo/{{ exp.icon2 }}" alt="{{ exp.company }}">
            </a>
        </div>
        <div class="exp_popup_title">
            <h3> {{ exp.position }} </h3>
            {{ exp.company}} <br/>
            <p> From {{ start }} to {{ end }} </p>
        </div>
        <div class="exp_popup_close">
            <img onclick="reset_exp_graph()" src="/assets/img/icon/close.png" width="48" height="48">
        </div>
    </div>
    <div class="exp_popup_descr">
        <p>{{ exp.description }}</p>
    </div>
</div>
{% endfor %}

