$color1: #f1f3f4;
$color2: #79bac1;
$color3: #2a7886;
$color4: #512b58;



// $sel: 1;pty front matter as described above. If they do, they'll not be transformed as described above. This folder should only contain imports. 

// @if $sel == 1 {
//     $c1: #f1f3f4;
//     $c2: #79bac1;
//     $c3: #2a7886;
//     $c4: #512b58;
// } @else if $sel == 2 {
//     $c1: #85a392;
//     $c2: #f5b971;
//     $c3: #fdd998;
//     $c4: #ffecc7;
// } @else {
//     @error "Unknown color scheme #{sel}."
// }



