body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

$navbar_height: 3em;

section {
    padding-top: $navbar_height;
    height: calc(100vh - #{$navbar_height});
    //width: 100vw;  //This would generate a horizonzal scroll bar
    //height: calc(100vh - #{2 * $pad});
    color: $color4;
    scroll-snap-align: start;
    background: $color1;
}


a:link {
    text-decoration: none;
}

div {
    //border: 1px solid green;  //just for developing. Remove before deploy.
}

// a:visited {
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: none;
// }

// a:active {
//     text-decoration: none;
// }