@mixin center_vertical {
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin center_horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin expand_on_hover($time, $scale_x, $scale_y: same) {
    transition: transform $time;
    transform-origin: 50% 50%;
    @if $scale_y == same {
        $scale_y: $scale_x;
    }
    &:hover{
        transform: scale($scale_x, $scale_y);
    }
}