#navbar {
    background-color: $color3;
    overflow: hidden;
    height: $navbar_height;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#navbar a {
    //float: center;
    display: inline-block;
    color: $color1;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
}
