#contact_parts {
    //padding: 1% 0 1% 0;
    position: absolute;  // this is how I managed to put stuff on top of the particles
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center_vertical;

}

#headshot{
    height: 40vh;
    max-height: 40em;
} 
 
#kurzgesagt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
    margin: 0 auto; /* center element horizontally */
    text-align: center;
    width: 30vw;
    max-width: 30em;
    overflow: hidden;
    padding: 1em;
}

#social_bar {
    display: flex;
    justify-content: center;
    padding: 1em;

    //TODO: animation not working really well
    transform-origin: 50% 50%;
    transition: transform .2s;
}

#social_bar div {
    max-width: 70px;
    flex: 1;
}

// #social_bar div :hover{
//     transform: scale(1.2); //TODO: not working smoothly. Commenting out.
// }

.social_icon {
    fill: $color1;
    width: 60%;
    height: auto;
}
