#exp_graph {
    position: relative;
    @include center_vertical;

    height: 30em;
    width: 80%;
    border: 3px solid #73AD21;
}

.exp_item {
    display: flex;
    height: 2.5em;
    padding: 4px;
    @include expand_on_hover(.4s, 1.05, 1.2);
    border: 1px solid blue;
}

.exp_item div {
    border: 1px solid green;
}

.exp_logo {
    width: 12em;
    padding: 4px;
}

.exp_img {
    max-width: 100%;
    max-height: 100%;
    @include center_horizontal
}

.exp_desc {
    width: 16em;
    padding: 0 5px 0 5px;
    font-size: small;
    text-align: right;
}

.exp_bar_container {
    width: 30em;  //This should be irrelevant
    position: relative;
}

.exp_bar {
    position: absolute;
    height: 100%;
}

#timeline:hover {
    transform: none;
}

#years_container {
    display: flex;
}