
#section_deck {
    
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    //scroll-behavior: smooth;
}
 
#section_deck section {
    padding-top: $navbar_height;
    height: calc(100vh - #{$navbar_height});
    //height: calc(100vh - #{2 * $pad});
    color: $color4;
    scroll-snap-align: start;
    background: $color1;

    // &:nth-of-type(even){
    //     background: $color2;
    // }
    // &:nth-of-type(odd){
    //     background: $color2;
    // }
    // &:first-of-type{
    //     background-color: $color2;
    //     display: block;
    // }

    &:first-of-type{
        background-color: $color2;
        color: $color1;
        display: block;
    }

    h3{
        font-size: 2em;
    }
}