#exp_graph {
    position: relative;
    @include center_vertical;
    width: 66em;
}

.exp_item {
    display: flex;
    height: 2.5em;
    padding: 4px;
    @include expand_on_hover(.3s, 1.03, 1.15);
    &:hover{
        border: 1px solid $color2;
        cursor: pointer;
    }
}

.exp_logo {
    width: 12em;
    padding: 4px;
}

.exp_img {
    max-width: 100%;
    max-height: 100%;
    @include center_horizontal
}

.exp_desc {
    width: 16em;
    padding: 0 5px 0 5px;
    font-size: small;
    text-align: right;
    color: $color4;
}

.exp_bar_container {
    width: 30em;  //This should be irrelevant
    position: relative;
    height: 100%;
}

.exp_bar {
    position: absolute;
    height: 100%;
}

#timeline:hover {  // undo some of the stuff we setup class-wide
    transform: none;
    border: none;
    cursor: default;
}

#years_container {
    position: relative;
}

.year_label {
    position: absolute;
    @include center_vertical;
}

.year_tick {
    position: absolute;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

#legend {
    z-index: 999;
    position: absolute;
    width: 10.5em;
    right: 0;
    //transform: translate(-50%);
    padding: 5px;
    border: 1px solid $color3;
    background-color: $color1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#legend div {
    display: flex;
    padding: 3px;
}

.legend_box {
    width: 1.8em;
    height: .8em;
}

#legend_education {
    background-color: $color3;
}

#legend_academicjob {
    background-color: $color2;
}

#legend_industryjob {
    background-color: $color4;
}

.exp_popup {
    position: absolute;
    display: none;
    flex-direction: column;
    @include center_vertical;
    width: 40em;
    background-color: $color1;
    padding: 1em;

    border: 1px solid $color2;
}

// header line (logo, position and close button)
.exp_popup_header{
    display: flex;
    flex-direction: row;
}

.exp_popup_logo{
    width: 10em;
    padding-top: 1.5em;
    img{
        width: 100%;
        height: auto;
        max-height: 6em;
        object-fit: contain;
    }
}

.exp_popup_title{
    width: 27em;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    p {
        font-size: smaller;
    }
}

.exp_popup_close{
    width: 3em;
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
        &:hover {  // undo some of the stuff we setup class-wide
            cursor: pointer;
        }
    }
}

#exp_popup_descr{
    padding: 3em 0 1em 0;
    text-align: center;
}
