
#section_deck {
    
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    //scroll-behavior: smooth;
}
 
#section_deck section {
    padding: 7em;
    height: calc(100vh - 14em);
    color: $color1;
    scroll-snap-align: start;

    &:nth-of-type(even){
        background: $color2;
    }
    &:nth-of-type(odd){
        background: $color2;
    }
    &:first-of-type{
        background-color: $color2;
        display: block;
    }

    h3{
        font-size: 2em;
    }
}